.form-builder-navbar{
    width: 1060px;

}

.tools-side-bar{
    height: 1090px;
    
    
    border-right:2px solid rgba(240, 230, 230, 0.76);
  
}

.add-button{
    margin-top: 10px;
    margin-right: 5px;
    text-align: right;
}

.dropdown-toggle::after {
 
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0;
    border-right: 0;
    border-bottom: 0;
    border-left:0;
}

.dropdown-menu {
    margin-left: 20px;
    width: 908px;
    height: 700px;
    transition: all 0.5s ease;
   
}

.Tab-list{
   
    padding: 0px 10px;
}

  .side-bar-content{
      cursor: pointer;
      font-size:20px;
      background-color: rgb(255, 0, 242);
      margin-top: 20px;
      text-align: center;
    
      border-radius: 3px;
      padding: 10px 6px ;
  }

  .column.side-panel    {

      width: 30%;
  }

  .column.panel-content{
      width: 70%;
  }

 .column.side-panel-tab{
float: left;
 }
