form {
  margin: 10px 290px;
  width: 362px;
  padding: 25px;
  background: #f1f1f1;
  border: 1px solid #e5e5e5;
 
}
form  div {
  position: relative;
  margin: 0 0 1.5em;
}
label {
  display: inline-block;
  width: 100%;
  border: black;

  position: relative;
  margin: 0 0 .5em;
 
  font-weight: bold;
  color: #222;
}

input {
  border-style: solid;
  padding:10px;
  border-width: thick;


  margin: 0;
  cursor: pointer;
  vertical-align: bottom;
  background: #fff;
  border: 1px solid #dcdcdc;
  border-radius: 1px;
  box-sizing: border-box;
  position: relative;}


  .button {
    background-color: #614caf; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
